<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeedDroneAppOfc"
        tools:targetApi="31">
        <activity
            android:name=".AcessoNegadoActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ComentarActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.ChatActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.PerfilActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.login.EsqueciSenhaActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.piloto.HistoricoActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.projeto.ProjetoActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.piloto.PropostaPilotoActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.cadastros.CriarProjetoActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.edicao.EditClienteActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.edicao.EditPilotoActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.cadastros.CriarContaActivity"
            android:exported="false"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"/>
        <activity
            android:name=".ui.edicao.EditDroneActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.cadastros.CriarClienteActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.cadastros.CriarPilotoActivity"
            android:exported="false"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"/>
        <activity
            android:name=".ui.cadastros.CriarDroneActivity"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".ui.piloto.ImagemTelaCheiaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.NeedDroneAppOfc.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}"/>
    </application>

</manifest>